<% if @recipe %>
<h2> Suggested Recipes! </h2>
Show Page

<ul>
  <li>
  Name: <%= @recipe.name %>
  <%= link_to @recipe.url, @recipe.url %>
  <a href="<%= @recipe.url %>">
  <iframe width="600" height="350" src=" <%= @recipe.url %> frameborder="0" ">
  </iframe><br>
  </a>
  Desription: <%= @recipe.description %>
  </li>
</ul>
<%= link_to "EDIT", edit_recipe_path %>
<br>
<br>
<%= button_to "Delete this recipe!", @recipe, method: :delete %>

<% else %>
<%= "There are no recipes to display. Add a recipe!" %>
<%= link_to "Add a Recipe", new_recipe_path %>
<% end %>
