<% if @recipe %>
<h2> <%= @recipe.name %>'s show page </h2>


 Name: <%= @recipe.name %>
<ul>
  <li>
  URL: <%= link_to @recipe.url, @recipe.url %>
  </li>

  <iframe width="600" height="350" src=" <%= @recipe.url %> frameborder="0" ">
  </iframe>

  Desription: <%= @recipe.description %>

</ul>
<%= link_to "EDIT", edit_recipe_path %>
<br>
<br>
<%= button_to "Delete this recipe!", @recipe, method: :delete %>

<% else %>
<%= "There are no recipes to display. Add a recipe!" %>
<%= link_to "Add a Recipe", new_recipe_path %>
<% end %>
