
<% if @user %>

<h2> <%= @user.name %>'s Info </h2>

<p>
 Name: <%= @user.name %>
 <br>
 Age: <%= @user.age %>
</p>
<br>
<%= link_to "EDIT", edit_user_path %>
<br>
<br>
<%= button_to "Delete Your Account!", @user, method: :delete %>
<% else %>
<%= "Please Create an Account" %>
<%= link_to "Create an Account", new_user_path %>


<% end %>
