<% if @video %>
<div class="w3-row w3-padding-64">
<h1 class="w3-text-teal">Suggested Event</h1>
<ul>
  <li>
    Title: <%= @video.title %>
    <%= link_to @video.url, @video.url %>
    <a href="<%= @video.url %>" target="_blank">
    <video width="320" height="240" controls>
      <source src=”<%= @video.url %>” type=video/ogg>
        <source src="<%= @video.url %>" type=video/mp4>
        </video>
        <br>
        Description: <%= @video.description %>
  </li>
</ul>
 <br>
 <%= link_to "edit", edit_video_path %>
<br>
<br>
<%= button_to "delete", @video, method: :delete %>
<% else %>
<%= "You have no exercises. Create an exercise here!" %>
<%= link_to "Add an exercise", new_video_path %>
<% end %>
</div>
