<h2> <%= @video.title %>'s Video Show Page </h2>
<p>
 Title: <%= @video.title %>
 <br>
 Link: <%= link_to @video.url, @video.url %>
 <br>
 <video width="320" height="240" controls>
  <source src=”http://techslides.com/demos/sample-videos/small.ogv” type=video/ogg>
  <source src="/build/videos/arcnet.io(7-sec).mp4" type=video/mp4>
</video>
 <br>
 Description: <%= @video.description %>
</p>
<br>
<%= link_to "edit", edit_video_path %>
<br>
<br>
<%= button_to "delete", @video, method: :delete %>
