<% if @event %>
<h2> Suggested Event! </h2>
<ul>
  <li>
    Name: <%= @event.name %><br>
    Date: <%= @event.date %><br>
    <%= link_to @event.url, @event.url %>
    <a href="<%= @event.url %>" target="_blank">
      <iframe width="600" height="350" src=" <%= @event.url %> frameborder="0" ">
      </iframe><br>
    </a>
  </li>

</ul>

<%= link_to "EDIT", edit_event_path %>
<br>
<br>
<%= button_to "Delete this event!", @event, method: :delete %>
<% else %>
<%= "You have no events. Create an event here!" %>
<%= link_to "Add an event", new_event_path %>
<% end %>
