<% if @event %>
<h2> <%= @event.name %>'s show page </h2>

<ul>
  Name: <%= @event.name %>
  <br>
  Date: <%= @event.date %>
  <br>
  URL: <%= link_to @event.url, @event.url %>
  <br>
  <iframe width="600" height="350" src=" <%= @event.url %> frameborder="0" allowfullscreen">
  </iframe>

</ul>

<%= link_to "EDIT", edit_event_path %>
<br>
<br>
<%= button_to "Delete this event!", @event, method: :delete %>
<% else %>
<%= "You have no events. Create an event here!" %>
<%= link_to "Add an event", new_event_path %>
<% end %>
