<h1> New user_repo </h1>
<br>
<%= form_for @user_repo do |f| %>
<h2><%= f.label :interests %></h2>
 <p>Excercise:<%= f.check_box( :interests, {}, "Exercises", nil) %>
<br>
Recipes:<%= f.check_box( :interests, {}, "Recipes", nil) %>
<br>
Relaxation:<%= f.check_box( :interests, {}, "Relaxation", nil) %>
<br>
Medical food:<%= f.check_box( :interests, {}, "Medical food", nil) %>
<br>
Events:<%= f.check_box( :interests, {}, "Events", nil) %>
</p>
<%= f.label :user_id %>
<%= f.collection_select :user_id, @users, :id, :name %>
<% end %>
