<h2> New User Repo </h2>
<br>
<%= form_for @user_repo do |f| %>
<br>
<%= f.label :recipes %>
<%= f.check_box :recipes, {}, true, false %>
<br>
<%= f.label :exercise_videos %>
<%= f.check_box :exercise_videos, {}, true, false %>
<br>
<%= f.label :relaxation %>
<%= f.check_box :relaxation, {}, true, false %>
<br>
<%= f.label :medical_foods %>
<%= f.check_box :medical_foods, {}, true, false %>

<%= f.label :events %>
<%= f.check_box :events, {}, true, false %>

<%= f.label :user_id %>
<%= f.collection_select :user_id, @users, :id, :name %>
<%= f.submit %>
<% end %>
