

<h2>Show the User Repo</h2>


<h2><%= @user_repo.user.name %></h2>
<br><br>
<ul>

  <% if @user_repo.recipes == true %>
  <li><%= link_to "Recipes", recipes_path %></li>
  <% else %>
  <%= "There are no recipes to display. Add a recipe!" %>
  <%= link_to "Add Recipe", new_recipe_path %>
  <% end  %>
  <br><br>
  <% if @user_repo.exercise_videos == true %>
  <li><%= link_to "Excercise videos", videos_path %></li>
  <% else %>
  <%= "There are no exercise videos to display. Add exercise videos!" %>
  <%= link_to "Add Exercise", new_video_path%>
  <% end %>

  <br><br>
  <%= "Relaxation" if @user_repo.relaxation == true %>
  <br><br>

  <% if @user_repo.events == true %>
  <li><%= link_to "Events", events_path %></li>
  <% else %>
  <%= "There are no events to display. Add events to your page!" %>
  <%= link_to "Add a Recipe", new_recipe_path %>
  <% end %>
</ul>
