<h1> <%= @video_repo.user_repo.user.name %>'s Video Show Page </h1>
<br>
<!-- Site navigation menu -->
<!-- <style type="text/css">
body {
  padding-left: 11em;
  font-family: 'Montserrat', sans-serif;
  color: black;
  background-color: lightblue }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: 'Montserrat', sans-serif;
}
ul.navbar li {
  background: white;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid black }
ul.navbar a {
  text-decoration: none }
a:link {
  color: black }
a:visited {
  color: black }
  .footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
  }
</style> -->
 Video Title: <%= @video_repo.video.title %>
<br>
<br>
 Video URL: <%= link_to @video_repo.video.url, @video_repo.video.url %>
<br>
<br>
<%= link_to "edit", edit_video_repo_path %>
<br>
<br>
<%= button_to "Delete your video repo", @video_repo, method: :delete %>
