<h2> <%= @user.name %>'s show page </h2>

<p>
 Name: <%= @user.name %>
 <br>
 Age: <%= @user.age %>
</p>
<br>
<%= link_to "EDIT", edit_user_path %>
<br>
<br>
<%= button_to "Delete your account!", @user, method: :delete %>

<br>
<br>
